PLATFORM_APP_SECRET=change-this-to-a-long-random-secret
PLATFORM_ADMIN_USERNAME=admin
PLATFORM_ADMIN_PASSWORD=change-this-admin-password
PLATFORM_BASE_DIR=platform_runtime
PLATFORM_CONFIG_PATH=platform_runtime/config.json
PLATFORM_DATABASE_PATH=platform_runtime/platform.db
PLATFORM_STORAGE_DIR=platform_runtime/storage
PLATFORM_HOST=0.0.0.0
PLATFORM_PORT=8000
PLATFORM_SESSION_DAYS=7
PLATFORM_COOKIE_SECURE=0
PLATFORM_MAX_UPLOAD_MB=80
PLATFORM_HISTORY_RETENTION_DAYS=10
PLATFORM_HISTORY_CLEANUP_INTERVAL_HOURS=24
PLATFORM_WORKER_POLL_SECONDS=2
PLATFORM_ENABLE_PIPELINE=1
PLATFORM_ALLOW_PRIVATE_URLS=1
